.item {
  height: 180px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  transition: all 0.3s ease-in-out;
  width: 150px;
  margin-top: 10px;
  flex: 50%;
}

.item:hover {
  width: 360px;
  flex: 60%;
  background-color: rgba(0, 0, 0, 0.1);
}
