.items {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.all {
  overflow-y: visible;
  overscroll-behavior-y: contain;
  width: 100%;
}

.logout {
  margin-top: 20px;
  cursor: pointer;
  padding: 22px;
  background-color: #61ce70;
  border-style: none;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
  width: 270px;
}
.allBorder {
  border-right: solid 0.4px;
  border-left: solid 0.4px;
  border-bottom: solid 0.4px;
  margin-left: 20px;
  margin-right: 20px;
  border-color: #61ce70;
}

.elementContainer {
  cursor: pointer;
  height: 12px;
  padding-bottom: 35px;
  color: #7a7a7a;
  background-color: #f5f5f5;
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-top: solid 0.4px;
  border-color: #61ce70;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.spaceHide {
  transition: all 0.7s;
  height: 0px;
  display: none;
  display: ease-in-out;
}

.spaceShow{
  text-align: center;
  display: ease-in-out;
  height: 35px;
  margin-bottom: 0px;
  border-top: solid 0.4px;
  border-color: #61ce70;
  transition: height 0.7s;
}
.spaceShowContent {
  color: #f5f5f5;
  display: ease-in-out;
  text-align: center;
  height: 150px;
  margin-bottom: 0px;
  border-top: solid 0.4px;
  border-color: #61ce70;
  transition: height 0.7s;
  overflow-y: scroll;
  overflow-x: hidden;
}
.spaceShowContent::-webkit-scrollbar {
  display: none;
}
.Title{
  text-align: left;
  color: #61ce70;
}

.Message{
  padding-top: 10px;
  font-size:0.9em;
  text-align: left;
  color: #f5f5f5;
  padding-left: 20px;
}

.texts {
  text-align: left;
  font-weight: 600;
  color: #7a7a7a;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1px;
  padding: 10px;
  font-size: 1.1rem;
  letter-spacing: normal;
  font-weight: bold;
}

.notif{
  background-color: #61ce70;
  color: black
}

.badges{
  display:grid;
}

.badge{
  background-color: rgb(74, 162, 74);
  border-radius: 20px;
  width:250px;
  color: white;
  margin-left: 10px;
  height:30px;
  padding:10px 8px 10px 8px;
  margin-bottom: 0px;
  cursor: pointer;
}

.badge:hover{
  background-color: #090909;
}


.content{
  background-color: #7a7a7a;
  margin-left: 14px;
  margin-right: 5px;
  margin-top: 3px;
  padding-top:1px;
  padding-bottom: 10px;
  border-radius: 5px 5px 5px 5px;
  width:260px;
  height: 200px;

}

.button{
  padding: 10px;
  background-color: #61ce70;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover{
  color: white;
}

.littleDetails{
  height:3px;
  margin:0px;
  padding-top:10px;
}