.items {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.all {
  overflow-y: visible;
  overscroll-behavior-y: contain;
  width: 100%;
}

.logout {
  margin-top: 20px;
  cursor: pointer;
  padding: 22px;

  background-color: #61ce70;
  border-style: none;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}
.allBorder {
  border-right: solid 0.4px;
  border-left: solid 0.4px;
  border-bottom: solid 0.4px;
  margin-left: 20px;
  margin-right: 20px;
  border-color: #61ce70;
}

.elementContainer {
  cursor: pointer;
  height: 12px;
  padding-bottom: 35px;
  color: #7a7a7a;
  background-color: #f5f5f5;
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-top: solid 0.4px;
  border-color: #61ce70;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.spaceHide {
  transition: all 0.7s;
  height: 0px;
}
.spaceShow {
  text-align: center;
  height: 35px;
  margin-bottom: 0px;
  border-top: solid 0.4px;
  border-color: #61ce70;
  transition: height 0.7s;
}

.texts {
  text-align: left;
  font-weight: 600;
  color: #7a7a7a;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1px;
  padding: 10px;
  font-size: 1.1rem;
  letter-spacing: normal;
  font-weight: bold;
}
