#grid-container {
  width: 70px;
  height: 450px;
  background-color: rgb(218, 215, 215);
  color: green;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.power {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: 1px solid black;
  align-self: center;
  border-radius: 12px;
  width: 50px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.power:hover {
  cursor: pointer;
  background-color: rgb(97, 206, 112);
  animation: glow linear 5s;
  width: 45px;
  height: 35px;
}

i {
  font-size: 24px;
}
.close {
  position: absolute;
  margin-top: 10px;
  right: 0;
}
.close:hover {
  cursor: pointer;
}
