#grid-container {
  height: 538px;

  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

#first-container {
  width: 80px;
  height: 524px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 10px 0px 0px 0px;
}
#second-container {
  width: 328px;
  overflow: scroll;
  overflow-x: hidden;
  height: 535px;
  border-radius: 10px;

  display: block;

  background-color: #fffcde;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}

#second-container::-webkit-scrollbar {
  display: none;
}

#auth-container {
  width: 430px;
  overflow: hidden;
  overflow-x: hidden;
  height: 538px;
  border-radius: 10px;
  display: block;
  background-color: #fffcde;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}

#second-container .popup-container {
  overflow: hidden;
  width: 430px;
}
.close-second {
  cursor: pointer;
  background-color: #ff0000a3;
  position: absolute;

  top: 510px;
}
.power {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
  align-self: center;
  width: 61px;
  height: 52px;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #54595f;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 50%);
  transition: all 0.3s;
}

.power:hover {
  cursor: pointer;
  background-color: rgb(97, 206, 112);
  width: 55px;
  height: 47px;
}

.fas {
  font-size: 20px;
  color: #4caf50;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.far {
  font-size: 20px;
  color: #4caf50;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
.close:hover {
  cursor: pointer;
}

.closeContainer {
  cursor: pointer;
  background-color: #ff0000a3;
  position: absolute;
  right: 2px;
  top: 510px;
  border-radius: 15px;
  height: 2.99%;
}
