.image {
  display: flex;
  flex-direction: column;
}
.all {
  margin-left: 40px;
}
.columns {
  padding: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.elementor-button {
  padding: 5px 20px 5px 20px;
  border-radius: 10px 10px 10px 10px;
  background-color: #7a7a7a;
  padding-bottom: 3px;
  cursor: pointer;
}
.bt{
  background-color: #7a7a7a;
}
.bt:hover{
  background-color: #61ce70;
  color: #666666;
}
.fa-bars {
  font-size: 12px;
  color: #ffffff;
  background-color: transparent;
}
.fa-bars:hover {
  background-color: #666666;
}
/* .favcontainer{
    overflow: scroll;
    overflow-x: hidden;
} */
.select {
  border: 1px solid #818a91;
  border-color: #7a7a7a;
  background-color: #f5f5f5;
  padding: 5px 14px;
}
