.cover {
  display: flex;
  flex-direction: column;

  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.container {
  width: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.productbtn {
  cursor: pointer;
  margin: 20px 10px 20px 20px;
  padding: 20px 20px 20px 20px;
  width: 350px;
  background-color: #61ce70;
  border-style: none;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}
.txt {
  color: white;
  font-weight: bold;
}

.cross {
  align-self: flex-start;
}

/* @media (max-width: 700px) {
    .container {
      flex-direction: column;
    }
  } */
.dropdwn {
  max-width: 100%;
  border: 1px solid #818a91;
  background-color: transparent;
  color: #373a3c;
  /* vertical-align: middle; */
  flex-grow: 1;
  background-color: #f5f5f5;
  border-color: #7a7a7a;
  width: 250px;
  margin-left: 10px;
}
