.popup-container {
    /* logout */
    margin-top: 0;
    height: 538px;
    width: 380px;
    /* float: right; */
    background-color: #fffcde;
    border-style: none;
    border-radius: 15px 15px 15px 15px;
    /* box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%); */
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .logout{
    margin: 20px 10px 20px 20px;
    cursor: pointer;
    padding: 20px 20px 20px 20px;
    width: 300px;
    background-color: #61ce70;
    border-style: none;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
  
  }
  
  
  .pad {
    margin-bottom: 400px;
  }
  .auth-button {
    cursor: pointer;
    margin: 20px 10px 20px 40px;
    padding: 20px 20px 20px 20px;
    width: 300px;
    background-color: #61ce70;
    border-style: none;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
  }
  .auth-button:hover {
    color: green;
  }
  .cross {
    text-align: left;
    background-color: red;
    width: 25px;
    color: black;
    margin-left: 10px;
    border-radius: 20px;
  }
  
  .button-text {
    text-align: center;
    color: white;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3em;
    letter-spacing: 0px;
    width: 284px;
    height: 23.391px;
    margin: 20px 10px 20px 20px;
    font-weight: bold;
  }
  
  .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }